@tailwind base;
@tailwind components;
@tailwind utilities;

.font-league-spartan {
    font-family: 'League Spartan', sans-serif;
}

* {
    font-family: 'League Spartan', sans-serif;
    box-sizing: border-box;
}
